Django>=6.1,<7
djangorestframework>=3.16,<4
djangorestframework-simplejwt>=5.5,<6
django-environ>=0.12,<1
django-cors-headers>=4.7,<5
Pillow>=11
{% if api_docs %}
drf-spectacular>=0.28,<1
{% endif %}
{% if celery %}
celery[redis]>=5.5,<6
{% endif %}
{% if database == "postgres" %}
psycopg[binary]>=3.2,<4
{% endif %}
