from django.conf import settings
from django.conf.urls.static import static
from django.contrib import admin
from django.urls import include, path
{% if api_docs %}
from drf_spectacular.views import SpectacularAPIView, SpectacularSwaggerView
{% endif %}

from core.views import HealthCheckView

urlpatterns = [
    path("admin/", admin.site.urls),
    path("health/", HealthCheckView.as_view(), name="health"),
    path("api/v1/", include("apps.accounts.urls")),
{% if api_docs %}
    path("api/schema/", SpectacularAPIView.as_view(), name="schema"),
    path("api/docs/", SpectacularSwaggerView.as_view(url_name="schema"), name="docs"),
{% endif %}
]

if settings.DEBUG:
    urlpatterns += static(settings.MEDIA_URL, document_root=settings.MEDIA_ROOT)
